.container {
	// position: fixed;
	overflow: hidden;
	height: 185px;
	width: 100%;
	background-color: #dae6f2;
	display: flex;
	padding: 0 70px;
	gap: 25px;

	.photo {
		width: 283px;
		height: 185px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		z-index: 1;
		img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
		}
		.col {
			width: 150px;
			height: 150px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.right {
		position: relative;
		padding-top: 65px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.nameAndSettings {
			display: flex;
			justify-content: space-between;
			width: 100%;
			gap: 30px;

			.nameBlock {
				p {
					font-size: 28px;
					font-weight: 600;
					font-family: Inter, sans-serif;
				}
				.uiSkeleton {
					width: 150px;
					ul {
						li {
							height: 30px;
						}
					}
				}
			}
			.settingsBlock {
				.request {
					.trio {
						display: none;
					}
				}
			}
		}
		.navBar {
			position: absolute;
			bottom: 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			a {
				font-size: 14px;
				font-weight: 500;
				font-family: Inter, sans-serif;
				padding: 13px;
				cursor: pointer;
				white-space: nowrap;

				&:hover {
					background-color: #f8f8f8;
					border-radius: 8px 8px 0px 0px;
				}

				&.activeItem {
					background-color: #ffffff;
					border-radius: 8px 8px 0px 0px;
					border-bottom: 1px solid white;
				}

				&:nth-of-type(10) {
					display: flex;
					align-items: center;
					gap: 10px;
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.container {
		.right {
			padding-top: 50px;
		}
	}
}

@media (max-width: 590px) {
	.container {
		padding: 0 24px;
		gap: 22px;
		.photo {
			width: 76px;
			display: block;
			justify-content: flex-start;
			padding-top: 24px;
			align-items: flex-start;

			img {
				width: 60px;
				height: 60px;
			}
			.col {
			}
		}
		.right {
			.navBar {
				left: -93px;
			}
		}
	}
}

@media (max-width: 390px) {
	.container {
		.photo {
			// position: relative;
		}
		.right {
			.nameAndSettings {
				.settingsBlock {
					.request {
						.settings {
							display: none;
						}
						.trio {
							display: block;
						}
					}
				}
			}
		}
	}
}
