.popover {
	width: 100%;
	height: 40px;
	padding: 0px 10px !important;
	display: flex;
	justify-content: flex-start;
	background-color: white !important;
	box-shadow: none !important;

	&:hover {
		background-color: rgba(218, 230, 242, 0.8) !important;
	}
	&:active {
		transform: scale(0.98);
	}

	img {
		height: 38px;
		width: 38px;
		border-radius: 50% !important;
	}

	.buttonAvatar {
		transition-duration: 0.3s;
		width: 100%;
	}
}
