.container {
	font-family: 'Inter', sans-serif;
	color: black;
	padding-top: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0;
	display: flex;
	justify-content: space-between;
	height: 85px;
	gap: 30px;
	border: none;
	section:last-child {
		margin-right: 0;
	}

	.logo {
		font-size: 20px;
		font-weight: 600;
	}

	.list {
		ul {
			display: flex;

			a {
				font-size: 18px;
				padding: 13px;
				cursor: pointer;

				&:hover {
					background-color: #dae6f2;
					border-radius: 8px 8px 0px 0px;
				}
				&.activeItem {
					background-color: #dae6f2;
					border-radius: 8px 8px 0px 0px;

					border-bottom: 1px solid #dae6f2;
				}
			}
		}
	}

	.search {
		position: relative;
		max-height: 33px;
		max-width: 450px;
		min-width: 130px;
		display: flex;
		justify-content: center;
		flex: 1;

		input {
			width: 100%;
			flex: 1;
			padding: 2.5px 1rem;
			border-radius: 12px;
			border: 1px solid black;
		}

		.searchElement {
			display: flex;
			position: absolute;
			left: 22px;
			top: 5px;

			img {
				padding-right: 5%;
			}
		}
	}

	.tools {
		display: flex;
		align-items: center;
		height: 38px;
		gap: 1.5rem;
		.containerAvatar {
			width: 80px;
			height: 38px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.spin {
				width: 50px;
				display: flex;
				justify-content: center;
			}
			.avatar {
				width: 90px;
				height: 38px;
			}
		}

		.toolsItem {
			&:active {
				transform: scale(0.95);
			}
		}
		.burgerIcon {
			display: none;

			&:active {
				transform: scale(0.95);
			}
		}
	}
}

@media (max-width: 1105px) {
	.container {
		.search {
			input {
				padding: 0;
			}
		}

		.tools {
			.toolsItem {
				display: none;

				
			}
			.burgerIcon {
					display: block;
				}
		}
	}
}

@media (max-width: 1010px) {
	.container {
		.list {
			display: none;
		}

		.search {
			max-width: 250px;
		}
	}
}

@media (max-width: 450px) {
	.container {
		.search {
			min-width: 50px;

			.searchElement {
				top: 30%;
				left: 16px;

				p {
					display: none;
				}
			}
		}
	}
}
