.container{
	display: flex;
	gap: 16px;
	
.change {
	svg{
		width: 25px;
		height: 50px;
				opacity: 100;
	}
}
.settings {
	svg{
		width: 25px;
		height: 50px;
		color: rgba(28, 49, 68, 1);
		opacity: 100;
	}
}}
@media (max-width:700px) {
.container {
	flex-wrap: wrap;
	gap: 8px;
	justify-content: flex-end;
}
}